
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand text-success-emphasis" routerLink="/">E-Commerce</a>
    <div class="d-flex">
      <button class="btn btn-outline mx-2">
        <a class="nav-link" routerLink="/register" routerLinkActive="active-link">Register</a>
      </button>
      <button class="btn btn-outline mx-2">
        <a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a>
      </button>
      <button class="btn btn-outline mx-2">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">Cart</a>
      </button>
    </div>
  </div>
</nav>

